# Dask scheduling - abandoned example

za https://docs.dask.org/en/latest/futures.html

In [1]:
!rm -rf Manna_*.zarr

In [2]:
from dask.distributed import Client

client = Client()  # start local workers as processes

In [3]:
L = [10, 20, 50, 100]
N = int(1e3)
jobs = []
for l in L:
    for i in range(10):
        filename=f"Manna_{l}_{i}.zarr"
        jobs.append(dict(N=int(N), filename=filename, L=int(l)))
jobs

[{'N': 1000, 'filename': 'Manna_10_0.zarr', 'L': 10},
 {'N': 1000, 'filename': 'Manna_10_1.zarr', 'L': 10},
 {'N': 1000, 'filename': 'Manna_10_2.zarr', 'L': 10},
 {'N': 1000, 'filename': 'Manna_10_3.zarr', 'L': 10},
 {'N': 1000, 'filename': 'Manna_10_4.zarr', 'L': 10},
 {'N': 1000, 'filename': 'Manna_10_5.zarr', 'L': 10},
 {'N': 1000, 'filename': 'Manna_10_6.zarr', 'L': 10},
 {'N': 1000, 'filename': 'Manna_10_7.zarr', 'L': 10},
 {'N': 1000, 'filename': 'Manna_10_8.zarr', 'L': 10},
 {'N': 1000, 'filename': 'Manna_10_9.zarr', 'L': 10},
 {'N': 1000, 'filename': 'Manna_20_0.zarr', 'L': 20},
 {'N': 1000, 'filename': 'Manna_20_1.zarr', 'L': 20},
 {'N': 1000, 'filename': 'Manna_20_2.zarr', 'L': 20},
 {'N': 1000, 'filename': 'Manna_20_3.zarr', 'L': 20},
 {'N': 1000, 'filename': 'Manna_20_4.zarr', 'L': 20},
 {'N': 1000, 'filename': 'Manna_20_5.zarr', 'L': 20},
 {'N': 1000, 'filename': 'Manna_20_6.zarr', 'L': 20},
 {'N': 1000, 'filename': 'Manna_20_7.zarr', 'L': 20},
 {'N': 1000, 'filename': 'Manna_20_8.zarr', 'L': 20},
 {'N': 1000, 'filename': 'Manna_20_9.zarr', 'L': 20},
 {'N': 1000, 'filename': 'Manna_50_0.zarr', 'L': 50},
 {'N': 1000, 'filename': 'Manna_50_1.zarr', 'L': 50},
 {'N': 1000, 'filename': 'Manna_50_2.zarr', 'L': 50},
 {'N': 1000, 'filename': 'Manna_50_3.zarr', 'L': 50},
 {'N': 1000, 'filename': 'Manna_50_4.zarr', 'L': 50},
 {'N': 1000, 'filename': 'Manna_50_5.zarr', 'L': 50},
 {'N': 1000, 'filename': 'Manna_50_6.zarr', 'L': 50},
 {'N': 1000, 'filename': 'Manna_50_7.zarr', 'L': 50},
 {'N': 1000, 'filename': 'Manna_50_8.zarr', 'L': 50},
 {'N': 1000, 'filename': 'Manna_50_9.zarr', 'L': 50},
 {'N': 1000, 'filename': 'Manna_100_0.zarr', 'L': 100},
 {'N': 1000, 'filename': 'Manna_100_1.zarr', 'L': 100},
 {'N': 1000, 'filename': 'Manna_100_2.zarr', 'L': 100},
 {'N': 1000, 'filename': 'Manna_100_3.zarr', 'L': 100},
 {'N': 1000, 'filename': 'Manna_100_4.zarr', 'L': 100},
 {'N': 1000, 'filename': 'Manna_100_5.zarr', 'L': 100},
 {'N': 1000, 'filename': 'Manna_100_6.zarr', 'L': 100},
 {'N': 1000, 'filename': 'Manna_100_7.zarr', 'L': 100},
 {'N': 1000, 'filename': 'Manna_100_8.zarr', 'L': 100},
 {'N': 1000, 'filename': 'Manna_100_9.zarr', 'L': 100}]

In [4]:
def process(kwargs):
    from SOC.models import Manna
    import pandas
    N = kwargs['N']
    L = kwargs['L']
    filename = kwargs['filename']
    m = Manna(L)
    m.save_every = int(N // 2)
    m.run(N, filename)
    return m.data_df
display(process(dict(N=N, L=48, filename=filename)))
!rm -rf Manna_*.zarr

HBox(children=(FloatProgress(value=0.0, max=1000.0), HTML(value='')))

     AvalancheSize  number_of_iterations
0                0                     0
1                0                     0
2                0                     0
3                0                     0
4                0                     0
..             ...                   ...
995              0                     0
996              3                     3
997              0                     0
998              0                     0
999             31                    28

[1000 rows x 2 columns]

In [5]:
futures =  client.map(process, jobs)
futures

[<Future: pending, key: process-0518001617e766db01fad4a33b4a2326>,
 <Future: pending, key: process-1879939bdb0bb5436cf98d362265a9d8>,
 <Future: pending, key: process-ad358439dbaa6a0aed2a0ebc273107d6>,
 <Future: pending, key: process-a579a014f6df9f554613559f2190da85>,
 <Future: pending, key: process-07009b6127b0d8d39379bd49178908b7>,
 <Future: pending, key: process-e873270e73566bf4324a6a0ce6bdbe9a>,
 <Future: pending, key: process-a6717886ce3c90403e2c163a786a2c09>,
 <Future: pending, key: process-3471bb223e348062a79f99db40bfd17a>,
 <Future: pending, key: process-c41e58591091f4485f4d27bffe27b5c8>,
 <Future: pending, key: process-d1dc144122cdcbdc40e29431d97650c8>,
 <Future: pending, key: process-8bb2ca32bfbe2d93e8fb9c0be0b5d3ea>,
 <Future: pending, key: process-580966ddaaf1adae1737919dc15d5b4e>,
 <Future: pending, key: process-28a31608e63ecaa864c619faddf8f599>,
 <Future: pending, key: process-d0c899427febc8474d2890e27d765885>,
 <Future: pending, key: process-62588364cf1254d9f9bfd2a421310312>,
 <Future: pending, key: process-e3636a975d6f792d0048b1baa0c0a40b>,
 <Future: pending, key: process-0734f6e281772b093a54abbda8eff452>,
 <Future: pending, key: process-62ffe0152f21c302fdcbca5e0331e383>,
 <Future: pending, key: process-3da83fa61bb6606dc72d34a6678c2687>,
 <Future: pending, key: process-8aa141de9e30f38bb52422551c914272>,
 <Future: pending, key: process-81f456442340ba813ab3feb368baa767>,
 <Future: pending, key: process-dba9ed89d7eba257d83964c3e0bc555d>,
 <Future: pending, key: process-87ad9e3fab4d0731ffc069ec6ff8a2b4>,
 <Future: pending, key: process-f08469fa4b03910b9e15d86b4b098435>,
 <Future: pending, key: process-131649a59177ce97468c15f81f64540f>,
 <Future: pending, key: process-fa8e0ad1419c2441cf564b9632a65ecb>,
 <Future: pending, key: process-62326e8ed602ff97856b786843660e2a>,
 <Future: pending, key: process-9ade73bdc8e337fb36f62ec4cdc84303>,
 <Future: pending, key: process-da548e2aeff9e6f16b6065077b042126>,
 <Future: pending, key: process-cb063cfc594dd4dec2c9081801e38e3d>,
 <Future: pending, key: process-cf341fbe2411fa09a08d6625fc9d1794>,
 <Future: pending, key: process-4e269b483b27d748434498084dbdcc8e>,
 <Future: pending, key: process-a265057fdf1782cfe0282dc61b98b4da>,
 <Future: pending, key: process-49ac9d573883fd2273e0e7c587b9c8e2>,
 <Future: pending, key: process-7e8fda655aad920dc9301e60dbd13d13>,
 <Future: pending, key: process-0b760a9c4c5192be694f017032f1b052>,
 <Future: pending, key: process-91ee32a71d7b3c373c9bd8d868b5263c>,
 <Future: pending, key: process-e03f1766dbb231527528084760a93964>,
 <Future: pending, key: process-1b2233b97306e2fdab34c1dd0bc5d5bc>,
 <Future: pending, key: process-abae8559ff5665f5238e36e5c11c6e3b>]

In [6]:
futures[0].result()

     AvalancheSize  number_of_iterations
0                0                     0
1                0                     0
2                0                     0
3                0                     0
4                2                     1
..             ...                   ...
995              4                     2
996              0                     0
997             40                    30
998              0                     0
999              0                     0

[1000 rows x 2 columns]

In [7]:
futures

[<Future: finished, type: pandas.DataFrame, key: process-0518001617e766db01fad4a33b4a2326>,
 <Future: finished, type: pandas.DataFrame, key: process-1879939bdb0bb5436cf98d362265a9d8>,
 <Future: finished, type: pandas.DataFrame, key: process-ad358439dbaa6a0aed2a0ebc273107d6>,
 <Future: pending, key: process-a579a014f6df9f554613559f2190da85>,
 <Future: pending, key: process-07009b6127b0d8d39379bd49178908b7>,
 <Future: finished, type: pandas.DataFrame, key: process-e873270e73566bf4324a6a0ce6bdbe9a>,
 <Future: pending, key: process-a6717886ce3c90403e2c163a786a2c09>,
 <Future: pending, key: process-3471bb223e348062a79f99db40bfd17a>,
 <Future: pending, key: process-c41e58591091f4485f4d27bffe27b5c8>,
 <Future: pending, key: process-d1dc144122cdcbdc40e29431d97650c8>,
 <Future: pending, key: process-8bb2ca32bfbe2d93e8fb9c0be0b5d3ea>,
 <Future: pending, key: process-580966ddaaf1adae1737919dc15d5b4e>,
 <Future: pending, key: process-28a31608e63ecaa864c619faddf8f599>,
 <Future: pending, key: process-d0c899427febc8474d2890e27d765885>,
 <Future: pending, key: process-62588364cf1254d9f9bfd2a421310312>,
 <Future: pending, key: process-e3636a975d6f792d0048b1baa0c0a40b>,
 <Future: pending, key: process-0734f6e281772b093a54abbda8eff452>,
 <Future: pending, key: process-62ffe0152f21c302fdcbca5e0331e383>,
 <Future: pending, key: process-3da83fa61bb6606dc72d34a6678c2687>,
 <Future: pending, key: process-8aa141de9e30f38bb52422551c914272>,
 <Future: pending, key: process-81f456442340ba813ab3feb368baa767>,
 <Future: pending, key: process-dba9ed89d7eba257d83964c3e0bc555d>,
 <Future: pending, key: process-87ad9e3fab4d0731ffc069ec6ff8a2b4>,
 <Future: pending, key: process-f08469fa4b03910b9e15d86b4b098435>,
 <Future: pending, key: process-131649a59177ce97468c15f81f64540f>,
 <Future: pending, key: process-fa8e0ad1419c2441cf564b9632a65ecb>,
 <Future: pending, key: process-62326e8ed602ff97856b786843660e2a>,
 <Future: pending, key: process-9ade73bdc8e337fb36f62ec4cdc84303>,
 <Future: pending, key: process-da548e2aeff9e6f16b6065077b042126>,
 <Future: pending, key: process-cb063cfc594dd4dec2c9081801e38e3d>,
 <Future: pending, key: process-cf341fbe2411fa09a08d6625fc9d1794>,
 <Future: pending, key: process-4e269b483b27d748434498084dbdcc8e>,
 <Future: pending, key: process-a265057fdf1782cfe0282dc61b98b4da>,
 <Future: pending, key: process-49ac9d573883fd2273e0e7c587b9c8e2>,
 <Future: pending, key: process-7e8fda655aad920dc9301e60dbd13d13>,
 <Future: pending, key: process-0b760a9c4c5192be694f017032f1b052>,
 <Future: pending, key: process-91ee32a71d7b3c373c9bd8d868b5263c>,
 <Future: pending, key: process-e03f1766dbb231527528084760a93964>,
 <Future: pending, key: process-1b2233b97306e2fdab34c1dd0bc5d5bc>,
 <Future: pending, key: process-abae8559ff5665f5238e36e5c11c6e3b>]

In [9]:
import pandas
dataframes = [pandas.DataFrame(f.result()) for f in futures]
dataframes[0]

     AvalancheSize  number_of_iterations
0                0                     0
1                0                     0
2                0                     0
3                0                     0
4                2                     1
..             ...                   ...
995              4                     2
996              0                     0
997             40                    30
998              0                     0
999              0                     0

[1000 rows x 2 columns]

In [20]:
mean_values = sum(dataframes)/len(dataframes)
mean_values

     AvalancheSize  number_of_iterations
0            0.000                 0.000
1            0.000                 0.000
2            0.000                 0.000
3            0.000                 0.000
4            0.100                 0.050
..             ...                   ...
995          3.775                 2.900
996          2.700                 1.725
997          6.150                 3.975
998          3.550                 1.700
999          5.125                 3.200

[1000 rows x 2 columns]

In [22]:
uncertainties = pandas.DataFrame(np.std([df.values for df in dataframes], axis=0), columns=mean_values.columns)
uncertainties

     AvalancheSize  number_of_iterations
0         0.000000              0.000000
1         0.000000              0.000000
2         0.000000              0.000000
3         0.000000              0.000000
4         0.435890              0.217945
..             ...                   ...
995       6.929962              6.208059
996       5.177837              3.405786
997       9.223747              6.369802
998       7.632005              3.325658
999      13.720764              8.155366

[1000 rows x 2 columns]